<p>学習内容を登録しました。</p>
<div class="table-container">
  <table class="table table-striped">
    <thead class="bg-danger text-white">
      <tr>
        <th class="w-1">言語</th>
        <th class="w-2">今回学習時間</th>
        <th class="w-2">合計学習時間</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= @twitter_now.name %></td>
          <td><%= @twitter_now.study_time %>時間</td>
          <td><%= @twitter_sum.sum(:study_time) %>時間</td>
        </tr>
    </tbody>
  </table>
</div>

<hr>

<a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button"
data-text="
<%= @twitter_now.name %>を<%= @twitter_now.study_time %>時間勉強しました！
合計<%= @twitter_sum.sum(:study_time) %>時間"
data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
